CHROOT_DIR=./root
TARGET_DIR=./target
KERNEL_DIR=./build/
CHROOT_CMD=./kiss-chroot

NBD_DEV=/dev/nbd0

# qcow image name and size
QCOW_FILE="kiss.qcow2"
QCOW_SIZE="30G"
# rest of the disk will be used for rootfs
SWAPFS_SIZE="4G"

VAGRANT_IMAGE="kiss-libvirt.box"
VAGRANT_FILE="Vagrantfile"
VAGRANT_METADATA="metadata.json"
VAGRANT_SETUP_SCRIPT="vagrant-setup.sh"

# username and password
USER="kiss"
PASSWORD="kiss"

# packages to be installed in target chroot
BASE_PACKAGES="e2fsprogs eudev dhcpcd"
PACKAGES="grub baseinit openssh sudo"

# services to be enabled during bootup
SERVICES="dhcpcd sshd"

# KISS and kernel packages
KISS_ROOT=https://github.com/kisslinux/repo/releases/download/1.9.11/kiss-chroot.tar.xz
KISS_CHROOT=https://raw.githubusercontent.com/kisslinux/kiss/master/contrib/kiss-chroot
KERNEL_VERSION=linux-5.6.4
KERNEL_PACKAGE=https://cdn.kernel.org/pub/linux/kernel/v5.x/${KERNEL_VERSION}.tar.xz
